---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Python Programming Language: Functions

In [ ]:
x = 1
y = 2
x + y*9

In [ ]:
y

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [ ]:
def add_numbers(x,y):
    return x + y

add_numbers(2.5,3)

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [ ]:
def add_numbers(x,y,z = None):
    if(z == None):
        return x+y
    else: 
        return x+y+z
    
print(add_numbers(12,3))
print(add_numbers(12,3,4))

<br>
`add_numbers` updated to take an optional flag parameter.

In [ ]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, False))

<br>
Assign function `add_numbers` to variable `a`.

In [ ]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

<br>
# The Python Programming Language: Types and Sequences

<br>
Use `type` to return the object's type.

In [ ]:
type('This is a string')

In [ ]:
type(None)

In [ ]:
type(1)

In [ ]:
type(1.0)

In [ ]:
type(add_numbers)

<br>
Tuples are an immutable data structure (cannot be altered).

In [5]:
x = [1,2,'a']
type(x)

list

<br>
Lists are a mutable data structure.

In [4]:
x = [1, 'a', 2, 'b']
type(x)

list

<br>
Use `append` to append an object to a list.

In [ ]:
x.append(3)
print(x)

<br>
This is an example of how to loop through each item in the list.

In [ ]:
for item in x:
    print(item)

<br>
Or using the indexing operator:

In [ ]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

<br>
Use `+` to concatenate lists.

In [ ]:
[1,2] + [3,4]

<br>
Use `*` to repeat lists.

In [ ]:
[1]*3

<br>
Use the `in` operator to check if something is inside a list.

In [ ]:
2 in [1, 2, 3]

<br>
Now let's look at strings. Use bracket notation to slice a string.

In [ ]:
x = 'abcde'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

<br>
This will return the last element of the string.

In [ ]:
x[-1]

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [ ]:
x[-4:-2]

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [ ]:
x[:3]

<br>
And this is a slice starting from the 3rd element of the string and going all the way to the end.

In [ ]:
x[3:]

In [ ]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [ ]:
name = 'Christopher Arthur Hansen Brooks'
firstname = name.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

<br>
Make sure you convert objects to strings before concatenating.

In [ ]:
'Chris' + 2

In [ ]:
'Chris' + str(2)

<br>
Dictionaries associate keys with values.

In [ ]:
x = {'hq':'ha@','yg':'yg@'}
x['yg']

In [ ]:
x['Kevyn Collins-Thompson'] = 'KC@'
x['Kevyn Collins-Thompson']

<br>
Iterate over all of the keys:

In [ ]:
for name in x:
    print(name)

<br>
Iterate over all of the values:

In [ ]:
for i in x.values():
    print(i)

<br>
Iterate over all of the items in the list:

In [ ]:
for name1, email in x.items():
    print(name1)
    print(email)

<br>
You can unpack a sequence into different variables:

In [ ]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [ ]:
fname

In [ ]:
lname

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [ ]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email,location = x
print(location)

<br>
# The Python Programming Language: More on Strings

In [ ]:
print('Chris' + 2)

In [ ]:
print('Chris' + str(2))

<br>
Python has a built in method for convenient string formatting.

In [ ]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

<br>
# Reading and Writing CSV files

<br>
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [3]:
import csv

%precision 2 

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:]

[{'': '1',
  'class': 'compact',
  'cty': '18',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '2',
  'class': 'compact',
  'cty': '21',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '3',
  'class': 'compact',
  'cty': '20',
  'cyl': '4',
  'displ': '2',
  'drv': 'f',
  'fl': 'p',
  'hwy': '31',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m6)',
  'year': '2008'},
 {'': '4',
  'class': 'compact',
  'cty': '21',
  'cyl': '4',
  'displ': '2',
  'drv': 'f',
  'fl': 'p',
  'hwy': '30',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(av)',
  'year': '2008'},
 {'': '5',
  'class': 'compact',
  'cty': '16',
  'cyl': '6',
  'displ': '2.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '26',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '6',
  'class': 'compact',
  'cty': '18',
  'cyl': '6',
  'displ': '2.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '26',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '7',
  'class': 'compact',
  'cty': '18',
  'cyl': '6',
  'displ': '3.1',
  'drv': 'f',
  'fl': 'p',
  'hwy': '27',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(av)',
  'year': '2008'},
 {'': '8',
  'class': 'compact',
  'cty': '18',
  'cyl': '4',
  'displ': '1.8',
  'drv': '4',
  'fl': 'p',
  'hwy': '26',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '9',
  'class': 'compact',
  'cty': '16',
  'cyl': '4',
  'displ': '1.8',
  'drv': '4',
  'fl': 'p',
  'hwy': '25',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '10',
  'class': 'compact',
  'cty': '20',
  'cyl': '4',
  'displ': '2',
  'drv': '4',
  'fl': 'p',
  'hwy': '28',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'trans': 'manual(m6)',
  'year': '2008'},
 {'': '11',
  'class': 'compact',
  'cty': '19',
  'cyl': '4',
  'displ': '2',
  'drv': '4',
  'fl': 'p',
  'hwy': '27',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'trans': 'auto(s6)',
  'year': '2008'},
 {'': '12',
  'class': 'compact',
  'cty': '15',
  'cyl': '6',
  'displ': '2.8',
  'drv': '4',
  'fl': 'p',
  'hwy': '25',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '13',
  'class': 'compact',
  'cty': '17',
  'cyl': '6',
  'displ': '2.8',
  'drv': '4',
  'fl': 'p',
  'hwy': '25',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '14',
  'class': 'compact',
  'cty': '17',
  'cyl': '6',
  'displ': '3.1',
  'drv': '4',
  'fl': 'p',
  'hwy': '25',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'trans': 'auto(s6)',
  'year': '2008'},
 {'': '15',
  'class': 'compact',
  'cty': '15',
  'cyl': '6',
  'displ': '3.1',
  'drv': '4',
  'fl': 'p',
  'hwy': '25',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'trans': 'manual(m6)',
  'year': '2008'},
 {'': '16',
  'class': 'midsize',
  'cty': '15',
  'cyl': '6',
  'displ': '2.8',
  'drv': '4',
  'fl': 'p',
  'hwy': '24',
  'manufacturer': 'audi',
  'model': 'a6 quattro',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '17',
  'class': 'midsize',
  'cty': '17',
  'cyl': '6',
  'displ': '3.1',
  'drv': '4',
  'fl': 'p',
  'hwy': '25',
  'manufacturer': 'audi',
  'model': 'a6 quattro',
  'trans': 'auto(s6)',
  'year': '2008'},
 {'': '18',
  'class': 'midsize',
  'cty': '16',
  'cyl': '8',
  'displ': '4.2',
  'drv': '4',
  'fl': 'p',
  'hwy': '23',
  'manufacturer': 'audi',
  'model': 'a6 quattro',
  'trans': 'auto(s6)',
  'year': '2008'},
 {'': '19',
  'class': 'suv',
  'cty': '14',
  'cyl': '8',
  'displ': '5.3',
  'drv': 'r',
  'fl': 'r',
  'hwy': '20',
  'manufacturer': 'chevrolet',
  'model': 'c1500 suburban 2wd',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '20',
  'class': 'suv',
  'cty': '11',
  'cyl': '8',
  'displ': '5.3',
  'drv': 'r',
  'fl': 'e',
  'hwy': '15',
  'manufacturer': 'chevrolet',
  'model': 'c1500 suburban 2wd',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '21',
  'class': 'suv',
  'cty': '14',
  'cyl': '8',
  'displ': '5.3',
  'drv': 'r',
  'fl': 'r',
  'hwy': '20',
  'manufacturer': 'chevrolet',
  'model': 'c1500 suburban 2wd',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '22',
  'class': 'suv',
  'cty': '13',
  'cyl': '8',
  'displ': '5.7',
  'drv': 'r',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'chevrolet',
  'model': 'c1500 suburban 2wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '23',
  'class': 'suv',
  'cty': '12',
  'cyl': '8',
  'displ': '6',
  'drv': 'r',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'chevrolet',
  'model': 'c1500 suburban 2wd',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '24',
  'class': '2seater',
  'cty': '16',
  'cyl': '8',
  'displ': '5.7',
  'drv': 'r',
  'fl': 'p',
  'hwy': '26',
  'manufacturer': 'chevrolet',
  'model': 'corvette',
  'trans': 'manual(m6)',
  'year': '1999'},
 {'': '25',
  'class': '2seater',
  'cty': '15',
  'cyl': '8',
  'displ': '5.7',
  'drv': 'r',
  'fl': 'p',
  'hwy': '23',
  'manufacturer': 'chevrolet',
  'model': 'corvette',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '26',
  'class': '2seater',
  'cty': '16',
  'cyl': '8',
  'displ': '6.2',
  'drv': 'r',
  'fl': 'p',
  'hwy': '26',
  'manufacturer': 'chevrolet',
  'model': 'corvette',
  'trans': 'manual(m6)',
  'year': '2008'},
 {'': '27',
  'class': '2seater',
  'cty': '15',
  'cyl': '8',
  'displ': '6.2',
  'drv': 'r',
  'fl': 'p',
  'hwy': '25',
  'manufacturer': 'chevrolet',
  'model': 'corvette',
  'trans': 'auto(s6)',
  'year': '2008'},
 {'': '28',
  'class': '2seater',
  'cty': '15',
  'cyl': '8',
  'displ': '7',
  'drv': 'r',
  'fl': 'p',
  'hwy': '24',
  'manufacturer': 'chevrolet',
  'model': 'corvette',
  'trans': 'manual(m6)',
  'year': '2008'},
 {'': '29',
  'class': 'suv',
  'cty': '14',
  'cyl': '8',
  'displ': '5.3',
  'drv': '4',
  'fl': 'r',
  'hwy': '19',
  'manufacturer': 'chevrolet',
  'model': 'k1500 tahoe 4wd',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '30',
  'class': 'suv',
  'cty': '11',
  'cyl': '8',
  'displ': '5.3',
  'drv': '4',
  'fl': 'e',
  'hwy': '14',
  'manufacturer': 'chevrolet',
  'model': 'k1500 tahoe 4wd',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '31',
  'class': 'suv',
  'cty': '11',
  'cyl': '8',
  'displ': '5.7',
  'drv': '4',
  'fl': 'r',
  'hwy': '15',
  'manufacturer': 'chevrolet',
  'model': 'k1500 tahoe 4wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '32',
  'class': 'suv',
  'cty': '14',
  'cyl': '8',
  'displ': '6.5',
  'drv': '4',
  'fl': 'd',
  'hwy': '17',
  'manufacturer': 'chevrolet',
  'model': 'k1500 tahoe 4wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '33',
  'class': 'midsize',
  'cty': '19',
  'cyl': '4',
  'displ': '2.4',
  'drv': 'f',
  'fl': 'r',
  'hwy': '27',
  'manufacturer': 'chevrolet',
  'model': 'malibu',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '34',
  'class': 'midsize',
  'cty': '22',
  'cyl': '4',
  'displ': '2.4',
  'drv': 'f',
  'fl': 'r',
  'hwy': '30',
  'manufacturer': 'chevrolet',
  'model': 'malibu',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '35',
  'class': 'midsize',
  'cty': '18',
  'cyl': '6',
  'displ': '3.1',
  'drv': 'f',
  'fl': 'r',
  'hwy': '26',
  'manufacturer': 'chevrolet',
  'model': 'malibu',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '36',
  'class': 'midsize',
  'cty': '18',
  'cyl': '6',
  'displ': '3.5',
  'drv': 'f',
  'fl': 'r',
  'hwy': '29',
  'manufacturer': 'chevrolet',
  'model': 'malibu',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '37',
  'class': 'midsize',
  'cty': '17',
  'cyl': '6',
  'displ': '3.6',
  'drv': 'f',
  'fl': 'r',
  'hwy': '26',
  'manufacturer': 'chevrolet',
  'model': 'malibu',
  'trans': 'auto(s6)',
  'year': '2008'},
 {'': '38',
  'class': 'minivan',
  'cty': '18',
  'cyl': '4',
  'displ': '2.4',
  'drv': 'f',
  'fl': 'r',
  'hwy': '24',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'trans': 'auto(l3)',
  'year': '1999'},
 {'': '39',
  'class': 'minivan',
  'cty': '17',
  'cyl': '6',
  'displ': '3',
  'drv': 'f',
  'fl': 'r',
  'hwy': '24',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '40',
  'class': 'minivan',
  'cty': '16',
  'cyl': '6',
  'displ': '3.3',
  'drv': 'f',
  'fl': 'r',
  'hwy': '22',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '41',
  'class': 'minivan',
  'cty': '16',
  'cyl': '6',
  'displ': '3.3',
  'drv': 'f',
  'fl': 'r',
  'hwy': '22',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '42',
  'class': 'minivan',
  'cty': '17',
  'cyl': '6',
  'displ': '3.3',
  'drv': 'f',
  'fl': 'r',
  'hwy': '24',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '43',
  'class': 'minivan',
  'cty': '17',
  'cyl': '6',
  'displ': '3.3',
  'drv': 'f',
  'fl': 'r',
  'hwy': '24',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '44',
  'class': 'minivan',
  'cty': '11',
  'cyl': '6',
  'displ': '3.3',
  'drv': 'f',
  'fl': 'e',
  'hwy': '17',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '45',
  'class': 'minivan',
  'cty': '15',
  'cyl': '6',
  'displ': '3.8',
  'drv': 'f',
  'fl': 'r',
  'hwy': '22',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '46',
  'class': 'minivan',
  'cty': '15',
  'cyl': '6',
  'displ': '3.8',
  'drv': 'f',
  'fl': 'r',
  'hwy': '21',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '47',
  'class': 'minivan',
  'cty': '16',
  'cyl': '6',
  'displ': '3.8',
  'drv': 'f',
  'fl': 'r',
  'hwy': '23',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'trans': 'auto(l6)',
  'year': '2008'},
 {'': '48',
  'class': 'minivan',
  'cty': '16',
  'cyl': '6',
  'displ': '4',
  'drv': 'f',
  'fl': 'r',
  'hwy': '23',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'trans': 'auto(l6)',
  'year': '2008'},
 {'': '49',
  'class': 'pickup',
  'cty': '15',
  'cyl': '6',
  'displ': '3.7',
  'drv': '4',
  'fl': 'r',
  'hwy': '19',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'trans': 'manual(m6)',
  'year': '2008'},
 {'': '50',
  'class': 'pickup',
  'cty': '14',
  'cyl': '6',
  'displ': '3.7',
  'drv': '4',
  'fl': 'r',
  'hwy': '18',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '51',
  'class': 'pickup',
  'cty': '13',
  'cyl': '6',
  'displ': '3.9',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '52',
  'class': 'pickup',
  'cty': '14',
  'cyl': '6',
  'displ': '3.9',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '53',
  'class': 'pickup',
  'cty': '14',
  'cyl': '8',
  'displ': '4.7',
  'drv': '4',
  'fl': 'r',
  'hwy': '19',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'trans': 'auto(l5)',
  'year': '2008'},
 {'': '54',
  'class': 'pickup',
  'cty': '14',
  'cyl': '8',
  'displ': '4.7',
  'drv': '4',
  'fl': 'r',
  'hwy': '19',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'trans': 'auto(l5)',
  'year': '2008'},
 {'': '55',
  'class': 'pickup',
  'cty': '9',
  'cyl': '8',
  'displ': '4.7',
  'drv': '4',
  'fl': 'e',
  'hwy': '12',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'trans': 'auto(l5)',
  'year': '2008'},
 {'': '56',
  'class': 'pickup',
  'cty': '11',
  'cyl': '8',
  'displ': '5.2',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '57',
  'class': 'pickup',
  'cty': '11',
  'cyl': '8',
  'displ': '5.2',
  'drv': '4',
  'fl': 'r',
  'hwy': '15',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '58',
  'class': 'suv',
  'cty': '13',
  'cyl': '6',
  'displ': '3.9',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '59',
  'class': 'suv',
  'cty': '13',
  'cyl': '8',
  'displ': '4.7',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'trans': 'auto(l5)',
  'year': '2008'},
 {'': '60',
  'class': 'suv',
  'cty': '9',
  'cyl': '8',
  'displ': '4.7',
  'drv': '4',
  'fl': 'e',
  'hwy': '12',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'trans': 'auto(l5)',
  'year': '2008'},
 {'': '61',
  'class': 'suv',
  'cty': '13',
  'cyl': '8',
  'displ': '4.7',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'trans': 'auto(l5)',
  'year': '2008'},
 {'': '62',
  'class': 'suv',
  'cty': '11',
  'cyl': '8',
  'displ': '5.2',
  'drv': '4',
  'fl': 'r',
  'hwy': '16',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '63',
  'class': 'suv',
  'cty': '13',
  'cyl': '8',
  'displ': '5.7',
  'drv': '4',
  'fl': 'r',
  'hwy': '18',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'trans': 'auto(l5)',
  'year': '2008'},
 {'': '64',
  'class': 'suv',
  'cty': '11',
  'cyl': '8',
  'displ': '5.9',
  'drv': '4',
  'fl': 'r',
  'hwy': '15',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '65',
  'class': 'pickup',
  'cty': '12',
  'cyl': '8',
  'displ': '4.7',
  'drv': '4',
  'fl': 'r',
  'hwy': '16',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'trans': 'manual(m6)',
  'year': '2008'},
 {'': '66',
  'class': 'pickup',
  'cty': '9',
  'cyl': '8',
  'displ': '4.7',
  'drv': '4',
  'fl': 'e',
  'hwy': '12',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'trans': 'auto(l5)',
  'year': '2008'},
 {'': '67',
  'class': 'pickup',
  'cty': '13',
  'cyl': '8',
  'displ': '4.7',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'trans': 'auto(l5)',
  'year': '2008'},
 {'': '68',
  'class': 'pickup',
  'cty': '13',
  'cyl': '8',
  'displ': '4.7',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'trans': 'auto(l5)',
  'year': '2008'},
 {'': '69',
  'class': 'pickup',
  'cty': '12',
  'cyl': '8',
  'displ': '4.7',
  'drv': '4',
  'fl': 'r',
  'hwy': '16',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'trans': 'manual(m6)',
  'year': '2008'},
 {'': '70',
  'class': 'pickup',
  'cty': '9',
  'cyl': '8',
  'displ': '4.7',
  'drv': '4',
  'fl': 'e',
  'hwy': '12',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'trans': 'manual(m6)',
  'year': '2008'},
 {'': '71',
  'class': 'pickup',
  'cty': '11',
  'cyl': '8',
  'displ': '5.2',
  'drv': '4',
  'fl': 'r',
  'hwy': '15',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '72',
  'class': 'pickup',
  'cty': '11',
  'cyl': '8',
  'displ': '5.2',
  'drv': '4',
  'fl': 'r',
  'hwy': '16',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '73',
  'class': 'pickup',
  'cty': '13',
  'cyl': '8',
  'displ': '5.7',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'trans': 'auto(l5)',
  'year': '2008'},
 {'': '74',
  'class': 'pickup',
  'cty': '11',
  'cyl': '8',
  'displ': '5.9',
  'drv': '4',
  'fl': 'r',
  'hwy': '15',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '75',
  'class': 'suv',
  'cty': '11',
  'cyl': '8',
  'displ': '4.6',
  'drv': 'r',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'ford',
  'model': 'expedition 2wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '76',
  'class': 'suv',
  'cty': '11',
  'cyl': '8',
  'displ': '5.4',
  'drv': 'r',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'ford',
  'model': 'expedition 2wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '77',
  'class': 'suv',
  'cty': '12',
  'cyl': '8',
  'displ': '5.4',
  'drv': 'r',
  'fl': 'r',
  'hwy': '18',
  'manufacturer': 'ford',
  'model': 'expedition 2wd',
  'trans': 'auto(l6)',
  'year': '2008'},
 {'': '78',
  'class': 'suv',
  'cty': '14',
  'cyl': '6',
  'displ': '4',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'ford',
  'model': 'explorer 4wd',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '79',
  'class': 'suv',
  'cty': '15',
  'cyl': '6',
  'displ': '4',
  'drv': '4',
  'fl': 'r',
  'hwy': '19',
  'manufacturer': 'ford',
  'model': 'explorer 4wd',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '80',
  'class': 'suv',
  'cty': '14',
  'cyl': '6',
  'displ': '4',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'ford',
  'model': 'explorer 4wd',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '81',
  'class': 'suv',
  'cty': '13',
  'cyl': '6',
  'displ': '4',
  'drv': '4',
  'fl': 'r',
  'hwy': '19',
  'manufacturer': 'ford',
  'model': 'explorer 4wd',
  'trans': 'auto(l5)',
  'year': '2008'},
 {'': '82',
  'class': 'suv',
  'cty': '13',
  'cyl': '8',
  'displ': '4.6',
  'drv': '4',
  'fl': 'r',
  'hwy': '19',
  'manufacturer': 'ford',
  'model': 'explorer 4wd',
  'trans': 'auto(l6)',
  'year': '2008'},
 {'': '83',
  'class': 'suv',
  'cty': '13',
  'cyl': '8',
  'displ': '5',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'ford',
  'model': 'explorer 4wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '84',
  'class': 'pickup',
  'cty': '14',
  'cyl': '6',
  'displ': '4.2',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '85',
  'class': 'pickup',
  'cty': '14',
  'cyl': '6',
  'displ': '4.2',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '86',
  'class': 'pickup',
  'cty': '13',
  'cyl': '8',
  'displ': '4.6',
  'drv': '4',
  'fl': 'r',
  'hwy': '16',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '87',
  'class': 'pickup',
  'cty': '13',
  'cyl': '8',
  'displ': '4.6',
  'drv': '4',
  'fl': 'r',
  'hwy': '16',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '88',
  'class': 'pickup',
  'cty': '13',
  'cyl': '8',
  'displ': '4.6',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '89',
  'class': 'pickup',
  'cty': '11',
  'cyl': '8',
  'displ': '5.4',
  'drv': '4',
  'fl': 'r',
  'hwy': '15',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'trans': 'auto(l4)',
  'year': '1999'},
 {'': '90',
  'class': 'pickup',
  'cty': '13',
  'cyl': '8',
  'displ': '5.4',
  'drv': '4',
  'fl': 'r',
  'hwy': '17',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'trans': 'auto(l4)',
  'year': '2008'},
 {'': '91',
  'class': 'subcompact',
  'cty': '18',
  'cyl': '6',
  'displ': '3.8',
  'drv': 'r',
  'fl': 'r',
  'hwy': '26',
  'manufacturer': 'ford',
  'model': 'mustang',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '92',
  'class': 'subcompact',
  'cty': '18',
  'cyl': '6',
  'displ': '3.8',
  'drv': 'r',
  'fl': 'r',
  'hwy': '25',

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [6]:
len(mpg)

234

<br>
`keys` gives us the column names of our csv.

In [13]:
mpg[0].keys()

dict_keys(['', 'year', 'cyl', 'manufacturer', 'model', 'fl', 'drv', 'trans', 'class', 'cty', 'hwy', 'displ'])

<br>
This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

In [12]:
sum(float(d['cty']) for d in mpg)/len(mpg)

16.86

<br>
Similarly this is how to find the average hwy fuel economy across all cars.

In [ ]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

<br>
Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

In [14]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

<br>
Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [18]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x1: x1[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

<br>
Use `set` to return the unique values for the class types in our dataset.

In [ ]:
vehicleclass = set(d['class'] for d in mpg) # what are the class types
vehicleclass

<br>
And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [ ]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

<br>
# The Python Programming Language: Dates and Times

In [ ]:
import datetime as dt
import time as tm

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [ ]:
tm.time()

<br>
Convert the timestamp to datetime.

In [ ]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

<br>
Handy datetime attributes:

In [ ]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

<br>
`timedelta` is a duration expressing the difference between two dates.

In [ ]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

<br>
`date.today` returns the current local date.

In [ ]:
today = dt.date.today()

In [ ]:
today - delta # the date 100 days ago

In [ ]:
today > today-delta # compare dates

<br>
# The Python Programming Language: Objects and map()

<br>
An example of a class in python:

In [ ]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [ ]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

<br>
Here's an example of mapping the `min` function between two lists.

In [ ]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

<br>
Now let's iterate through the map object to see the values.

In [ ]:
for item in cheapest:
    print(item)

<br>
# The Python Programming Language: Lambda and List Comprehensions

<br>
Here's an example of lambda that takes in three parameters and adds the first two.

In [ ]:
my_function = lambda a, b, c : a + b

In [ ]:
my_function(1, 2, 3)

<br>
Let's iterate from 0 to 999 and return the even numbers.

In [ ]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

<br>
Now the same thing but with list comprehension.

In [ ]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

<br>
# The Python Programming Language: Numerical Python (NumPy)

In [2]:
import numpy as np

<br>
## Creating Arrays

Create a list and convert it to a numpy array

In [3]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

array([1, 2, 3])

<br>
Or just pass in a list directly

In [4]:
y = np.array([4, 5, 6])
y

array([4, 5, 6])

<br>
Pass in a list of lists to create a multidimensional array.

In [5]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

<br>
Use the shape method to find the dimensions of the array. (rows, columns)

In [12]:
np.shape(m)

(2, 3)

<br>
`arange` returns evenly spaced values within a given interval.

In [13]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

<br>
`reshape` returns an array with the same data with a new shape.

In [14]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

<br>
`linspace` returns evenly spaced numbers over a specified interval.

In [15]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ])

<br>
`resize` changes the shape and size of array in-place.

In [16]:
o.resize(3, 3)
o

array([[ 0. ,  0.5,  1. ],
       [ 1.5,  2. ,  2.5],
       [ 3. ,  3.5,  4. ]])

<br>
`ones` returns a new array of given shape and type, filled with ones.

In [17]:
np.ones((3, 2))

array([[ 1.,  1.],
       [ 1.,  1.],
       [ 1.,  1.]])

<br>
`zeros` returns a new array of given shape and type, filled with zeros.

In [ ]:
np.zeros((2, 3))

<br>
`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

In [18]:
np.eye(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

<br>
`diag` extracts a diagonal or constructs a diagonal array.

In [21]:
y
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

<br>
Create an array using repeating list (or see `np.tile`)

In [ ]:
np.array([1, 2, 3] * 3)

<br>
Repeat elements of an array using `repeat`.

In [22]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

<br>
#### Combining Arrays

In [27]:
p = np.ones([2, 3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

<br>
Use `vstack` to stack arrays in sequence vertically (row wise).

In [28]:
np.vstack([p, 2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

<br>
Use `hstack` to stack arrays in sequence horizontally (column wise).

In [29]:
np.hstack([p, 2*p])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

<br>
## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

In [ ]:
print(x + y) # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]

In [ ]:
print(x * y) # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]

In [ ]:
print(x**2) # elementwise power  [1 2 3] ^2 =  [1 4 9]

<br>
**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [ ]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

In [34]:
z = np.array([y, y**2])
print(np.shape(z))
print(len(z)) # number of rows of array

(2, 3)
2

<br>
Let's look at transposing arrays. Transposing permutes the dimensions of the array.

In [35]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

<br>
The shape of array `z` is `(2,3)` before transposing.

In [ ]:
z.shape

<br>
Use `.T` to get the transpose.

In [36]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

<br>
The number of rows has swapped with the number of columns.

In [ ]:
z.T.shape

<br>
Use `.dtype` to see the data type of the elements in the array.

In [37]:
z.dtype

dtype('int64')

<br>
Use `.astype` to cast to a specific type.

In [38]:
z = z.astype('f')
z.dtype

dtype('float32')

<br>
## Math Functions

Numpy has many built in math functions that can be performed on arrays.

In [41]:
a = np.array([-4, -2, 1, 3, 5])

In [42]:
a.sum()

3

In [ ]:
a.max()

In [ ]:
a.min()

In [ ]:
a.mean()

In [ ]:
a.std()

<br>
`argmax` and `argmin` return the index of the maximum and minimum values in the array.

In [43]:
a.argmax()

4

In [ ]:
a.argmin()

<br>
## Indexing / Slicing

In [46]:
s = np.arange(0,13,1)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

<br>
Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

In [45]:
s[0], s[4], s[-1]

(0, 16, 144)

<br>
Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [47]:
s[1:5]

array([ 1,  4,  9, 16])

<br>
Use negatives to count from the back.

In [48]:
s[-4:]

array([ 81, 100, 121, 144])

<br>
A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [50]:
s[-5::-3]

array([64, 25,  4])

<br>
Let's look at a multidimensional array.

In [52]:
r = np.arange(36)
r.resize((6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

<br>
Use bracket notation to slice: `array[row, column]`

In [53]:
r[2, 2]

14

<br>
And use : to select a range of rows or columns

In [55]:
r[3, 3:7]

array([21, 22, 23])

<br>
Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

In [56]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

<br>
This is a slice of the last row, and only every other element.

In [58]:
r[-1, 0:-1:2]

array([30, 32, 34])

<br>
We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

In [59]:
r[r > 30]

array([31, 32, 33, 34, 35])

<br>
Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [60]:
r[r > 30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

<br>
## Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [61]:
r2 = r[:3,:3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

<br>
Set this slice's values to zero ([:] selects the entire array)

In [62]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

<br>
`r` has also been changed!

In [63]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

<br>
To avoid this, use `r.copy` to create a copy that will not affect the original array

In [64]:
r_copy = r.copy()
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

<br>
Now when r_copy is modified, r will not be changed.

In [65]:
r_copy[:] = 10
print(r_copy, '\n')
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

<br>
### Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.

In [76]:
test = np.random.randint(0,10,(4,3))
test

array([[8, 1, 0],
       [1, 3, 7],
       [4, 8, 5],
       [1, 0, 3]])

<br>
Iterate by row:

In [68]:
for row in test:
    print(row)

[1 4 2]
[4 2 1]
[8 5 5]
[4 8 9]

<br>
Iterate by index:

In [69]:
for i in range(len(test)):
    print(test[i])

[1 4 2]
[4 2 1]
[8 5 5]
[4 8 9]

<br>
Iterate by row and index:

In [78]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [8 1 0]
row 1 is [1 3 7]
row 2 is [4 8 5]
row 3 is [1 0 3]

<br>
Use `zip` to iterate over multiple iterables.

In [70]:
test2 = test**2
test2

array([[ 1, 16,  4],
       [16,  4,  1],
       [64, 25, 25],
       [16, 64, 81]])

In [82]:
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)

[8 1 0] + [ 1 16  4] = [ 9 17  4]
[1 3 7] + [16  4  1] = [17  7  8]
[4 8 5] + [64 25 25] = [68 33 30]
[1 0 3] + [16 64 81] = [17 64 84]